<h2>Carrito de {{usuario.nombre}}</h2>
<h3 data-carrito="{{usuario.cart._id}}" id="cart"></h3>
<hr>

{{#if carrito.items.length}}
    <ul>
        {{#each carrito.items}}
            <li>
                descripción: {{productId.description}} - cantidad: {{cantidad}} - precio: {{productId.price}}
                <button onclick="eliminarProducto('{{productId._id}}')">Eliminar</button>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Carrito vacío</p>
{{/if}}
<br>
<button onclick="window.location.href='/productos'">Seguir comprando</button>
<br>
<button onclick="comprar('{{usuario.cart._id}}')">Finalizar Compra</button>
<br>

<script>
    const comprar = async (cid) => {
      
  if ({{carrito.items.length}} === 0) {
    Swal.fire({
         position: "top-end",
         title: "❌ El carrito está vacío.",
         showConfirmButton: false,
         timer: 1500
       });
       return;
   }
    let respuesta=await fetch(`/api/carritos/${cid}/purchase`,{
        method:"put"
    })
    let datos=await respuesta.json()
if (datos.success == false && respuesta.status == 200){
    Swal.fire({
  title: "¿Desea Continuar?",
  text: "Algunos productos no podrán ser procesados por falta de stock",
  icon: "warning",
  showCancelButton: true,
  cancelButtonText: "Cancelar",
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Si, Continuar"
}).then((result) => {
  if (result.isConfirmed) {
   window.location.href = "/pago";
  } else {
          window.location.reload();
        }
});
}else if (respuesta.status !== 200){
        Swal.fire({
            position: "top-end",
            title: "❌ Error al finalizar la compra. No hay stock disponible",
            showConfirmButton: false,
            timer:  1500
        });
        return;
    } else {
    
    Swal.fire({
        position: "top-end",
        title: "✔ Será redirigido para finalizar su compra",
        showConfirmButton: false,
        timer: 1500
      });
      setTimeout(() => {
        window.location.href = "/pago";
      }, 2000);
  }
};

const eliminarProducto = async (pid) => {

  let id=document.getElementById("cart")
  let cid=cart.dataset.carrito

  let respuesta = await fetch(`/api/carritos/delete/${cid}/${pid}`, {
    method: "delete"
  });
  if (respuesta.status === 200) {
    
    Swal.fire({
      position: "top-end",
      title: "✔ Producto eliminado",
      showConfirmButton: false,
      timer: 1500
    });
    setTimeout(() => {
window.location.reload();
    }, 1600)
  }
};
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>