<h1>Perfil {{usuarioDTO.fullName}}</h1>
<p>Nombre: <strong>{{usuario.nombre}}</strong></p>
<p>Apellido: <strong>{{usuario.apellido}}</strong></p>
<p>Edad: <strong>{{usuario.edad}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>Rol: <strong>{{rol.descrip}}</strong></p>
<hr>
<h1>Bienvenido A Mi Tienda</h1>
<hr>
<div id="mensaje"></div>
<br>
<br>
<br>
<br>
<button onclick="window.location.href='/productos'">Productos</button>
<button onclick="window.location.href='/vistaMail'">Enviar Mail</button>
<button onclick="window.location.href='/chat'">Chat</button>
<button onclick="window.location.href='/documentos'">Cargar Documentos</button>
<button onclick="premium('{{usuario._id}}')">Hacerse Premium</button>
<br>
<br>
<br>
<script src="/js/premium.js"></script>